[submodule "SeaStars/logutils/spdlog"]
	path = SeaStars/logutils/spdlog
	url = https://github.com/gabime/spdlog
[submodule "StarsSea/logutils/GLFW"]
	path = StarsSea/logutils/GLFW
	url = https://github.com/TheCherno/glfw
